$color_1: #666;
$color_2: #eee;
$font_family_1: Arial, Helvetica, sans-serif;

@-webkit-keyframes "react-confirm-alert-fadeIn" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes "react-confirm-alert-fadeIn" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes "react-confirm-alert-fadeIn" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes "react-confirm-alert-fadeIn" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.react-confirm-alert-blur {
	filter: url(#gaussian-blur);
	filter: blur(2px);
	-webkit-filter: blur(2px);
}
.react-confirm-alert-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	// background: rgba(255, 255, 255, 0.9);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0;
	-webkit-animation: react-confirm-alert-fadeIn 0.1s 0.1s forwards;
	-moz-animation: react-confirm-alert-fadeIn 0.1s 0.1s forwards;
	-o-animation: react-confirm-alert-fadeIn 0.1s 0.1s forwards;
	animation: react-confirm-alert-fadeIn 0.12s 0.1s forwards;
}
.react-confirm-alert {
	font-family: $font_family_1;
	width: 400px;
	padding: 30px;
	text-align: left;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
	color: $color_1;
	>h1 {
		margin-top: 0;
	}
	>h3 {
		margin: 0;
		font-size: 16px;
	}
}
.react-confirm-alert-button-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	&+button {
		outline: none;
		font-size: 13px !important;
		background-color: rgb(134, 70, 44) !important;
		border: none;
		display: inline-block;
		padding: 6px 18px;
		color: $color_2;
		margin-right: 10px;
		border-radius: 5px;
		font-size: 12px;
	}
	&>button {
		background-color: rgba(105, 59, 39, 0.93);
		outline: none;
		font-size: 13px !important;		
		border: none;
		display: inline-block;
		padding: 6px 18px;
		color: $color_2;
		margin-right: 10px;
		border-radius: 5px;
		font-size: 12px;
	}
}

